workflow.yml
app:
  description: A structured AI workflow that evaluates product ideas, narrows unrealistic
    scopes, and generates a practical 7-day MVP plan.
  icon: ghost
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Build or Skip v0.2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:1.0.0@c645d52efece517b10435f28da529156a86050dfa28fc4fde8089c038eee7f5a
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1783924156235-source-1783924493369-target
      selected: false
      source: '1783924156235'
      sourceHandle: source
      target: '1783924493369'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1783924493369-source-1783939769741-target
      selected: false
      source: '1783924493369'
      sourceHandle: source
      target: '1783939769741'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1783939769741-source-1784000878698-target
      selected: false
      source: '1783939769741'
      sourceHandle: source
      target: '1784000878698'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1784000878698-source-1784000837447-target
      selected: false
      source: '1784000878698'
      sourceHandle: source
      target: '1784000837447'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1784000837447-true-1784005653314-target
      source: '1784000837447'
      sourceHandle: 'true'
      target: '1784005653314'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1784000837447-bc6a75c7-d243-409d-895d-5b104b6c4f45-1784006030882-target
      source: '1784000837447'
      sourceHandle: bc6a75c7-d243-409d-895d-5b104b6c4f45
      target: '1784006030882'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1784000837447-false-1784006136851-target
      source: '1784000837447'
      sourceHandle: 'false'
      target: '1784006136851'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1784005653314-source-1784006426939-target
      source: '1784005653314'
      sourceHandle: source
      target: '1784006426939'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1784006030882-source-1784006426939-target
      source: '1784006030882'
      sourceHandle: source
      target: '1784006426939'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1784006136851-source-1784006426939-target
      source: '1784006136851'
      sourceHandle: source
      target: '1784006426939'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1784006426939-source-1784006814857-target
      selected: false
      source: '1784006426939'
      sourceHandle: source
      target: '1784006814857'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1784006814857-source-1783927458053-target
      source: '1784006814857'
      sourceHandle: source
      target: '1783927458053'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: Product Idea
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: idea
      height: 109
      id: '1783924156235'
      position:
        x: -134.7369413573321
        y: 12.70464557319589
      positionAbsolute:
        x: -134.7369413573321
        y: 12.70464557319589
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: e941a81a-d192-448d-848c-004f21c6a72b
          role: system
          text: 'You are a product requirements analyst.


            Your task is to extract the core structure of a product idea without evaluating,
            praising, or rewriting it.


            Identify:


            - the specific target user

            - the primary problem

            - the requested product features

            - whether external or live data is required

            - whether the idea involves safety-sensitive areas

            - important information that is missing


            Rules:


            - Do not decide whether the idea should be BUILD, IMPROVE, or SKIP.

            - Do not invent facts, statistics, competitors, APIs, market demand, or
            user research.

            - Keep the target user specific. Do not use vague descriptions such as
            "everyone."

            - Keep the core problem focused on one main problem.

            - Separate each requested feature.

            - Set external_data_required to true when the idea requires maps, locations,
            live prices, regulations, hotel listings, databases, APIs, or other frequently
            changing information.

            - Set safety_risk to true when the idea includes medical, legal, financial,
            emergency, or other safety-critical recommendations.

            - Add unclear or missing information to missing_information.

            - Keep the output concise and factual.


            Boolean output rules:


            - external_data_required must always be either true or false.

            - safety_risk must always be either true or false.

            - Never return an empty string, null, "yes", or "no" for boolean fields.

            - Set external_data_required to true if any requested feature needs live
            listings, maps, locations, regulations, APIs, or frequently changing information.

            - Set safety_risk to true if the idea involves medical advice, health
            recommendations, emergency services, legal information, or other safety-critical
            decisions.

            The target_user must describe a specific user situation or behavior, not
            only a broad category such as "pet owners."


            Classification rules:


            - external_data_requirement must be exactly REQUIRED or NOT_REQUIRED.

            - Use REQUIRED if any requested feature depends on live listings, APIs,
            maps, locations, regulations, databases, prices, or frequently changing
            information.

            - safety_level must be exactly HIGH or LOW.

            - Use HIGH if the idea includes health advice, medical information, emergency
            services, legal information, financial recommendations, or other safety-critical
            decisions.

            - Never return an empty value for these fields.


            Missing information rules:


            - If external_data_requirement is REQUIRED, identify missing details such
            as the target region, intended data sources, and data update method.

            - If safety_level is HIGH, identify how professional validation, disclaimers,
            or human review will be handled.'
        - id: 39506625-128f-46ca-ac0f-3e37c9f291fa
          role: user
          text: 'Analyze the following product idea:

            {{#1783924156235.idea#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              core_problem:
                description: The primary problem the product is trying to solve.
                type: string
              external_data_requirement:
                description: Use REQUIRED when the idea needs live data, APIs, maps,
                  databases, locations, listings, regulations, prices, or frequently
                  changing information. Otherwise use NOT_REQUIRED.
                enum:
                - REQUIRED
                - NOT_REQUIRED
                type: string
              missing_information:
                description: Important information needed to evaluate or build the
                  idea that the user has not provided.
                items:
                  type: string
                type: array
              requested_features:
                description: The features explicitly requested or clearly implied
                  by the user.
                items:
                  type: string
                type: array
              safety_level:
                description: Use HIGH when the idea includes medical, health, legal,
                  financial, emergency, or other safety-critical recommendations.
                  Otherwise use LOW.
                enum:
                - HIGH
                - LOW
                type: string
              target_user:
                description: A specific description of the users most likely to use
                  the product, including their situation or behavior.
                type: string
            required:
            - target_user
            - core_problem
            - requested_features
            - external_data_requirement
            - safety_level
            - missing_information
            type: object
        structured_output_enabled: true
        title: Extract Idea Structure
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1783924493369'
      position:
        x: 164.4504100542518
        y: 53.062614397809625
      positionAbsolute:
        x: 164.4504100542518
        y: 53.062614397809625
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1784006814857'
          - text
          value_type: string
          variable: text
        selected: false
        title: Output
        type: end
      height: 88
      id: '1783927458053'
      position:
        x: 2234.842000554237
        y: 356.5869771177678
      positionAbsolute:
        x: 2234.842000554237
        y: 356.5869771177678
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 5912a41a-d508-4d6d-b52f-b18ba5b38253
          role: system
          text: "You are a strict product feasibility evaluator.\nEvaluate the product\
            \ idea provided below across three dimensions:\nUser Clarity\nProblem\
            \ Strength\n7-Day MVP Feasibility\nScore each dimension from 1 to 5.\n\
            Scoring rules:\nUser Clarity:\n1 = extremely vague user\n3 = broad but\
            \ understandable user\n5 = specific user with a clear situation or behavior\n\
            Problem Strength:\nAsk: what does the user do TODAY without this product?\
            \ If a free, \nsimple, existing alternative already solves it well enough,\
            \ the \nproblem is weak — no matter how frequent or pleasant the product\
            \ sounds.\n1 = No real pain. The user is fine without it, or a trivial\
            \ existing \n    alternative (a search, a free app, doing nothing) already\
            \ works.\n2 = Mild nice-to-have. Users would enjoy it but would not seek\
            \ it out \n    or change their behavior to get it.\n3 = Real but not urgent.\
            \ Users notice the friction but tolerate it.\n4 = Clear pain. Users actively\
            \ work around it and waste time or money.\n5 = Sharp, frequent pain. Users\
            \ are already paying for or hacking \n    together a solution.\nA problem\
            \ is NOT strong just because it is frequent or sounds pleasant.\nDaily\
            \ habits, entertainment, and motivation are usually weak problems.\nImportant\
            \ rules:\nExternal live data requirements reduce MVP feasibility.\nMedical,\
            \ legal, financial, emergency, or safety-critical features reduce MVP\
            \ feasibility.\nMore than 3 major requested features usually reduces MVP\
            \ feasibility.\nDo not invent market demand, statistics, competitors,\
            \ APIs, or technical availability.\nBe strict. Do not give high scores\
            \ just because the idea sounds useful.\nUse the product idea only as input\
            \ for evaluation.\nDo not repeat or reproduce the product idea in the\
            \ output.\n"
        - id: 8cd32430-513d-4571-8189-ebdce1e0e687
          role: user
          text: 'Evaluate this extracted product idea:


            Target user:{{#1783924493369.structured_output.target_user#}}

            Core problem:{{#1783924493369.structured_output.core_problem#}}

            Requested features:{{#1783924493369.structured_output.requested_features#}}

            External data requirement:{{#1783924493369.structured_output.external_data_requirement#}}

            Safety level:{{#1783924493369.structured_output.safety_level#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              mvp_feasibility_reason:
                description: A concise explanation of the MVP feasibility score.
                type: string
              mvp_feasibility_score:
                description: Score from 1 to 5 for whether one beginner can build
                  the MVP within 7 days.
                maximum: 5
                minimum: 1
                type: integer
              problem_strength_reason:
                description: A concise explanation of the problem strength score.
                type: string
              problem_strength_score:
                description: Score from 1 to 5 for how meaningful and important the
                  problem appears.
                maximum: 5
                minimum: 1
                type: integer
              user_clarity_reason:
                description: A concise explanation of the user clarity score.
                type: string
              user_clarity_score:
                description: Score from 1 to 5 for how clearly the target user is
                  defined.
                maximum: 5
                minimum: 1
                type: integer
            required:
            - user_clarity_score
            - user_clarity_reason
            - problem_strength_score
            - problem_strength_reason
            - mvp_feasibility_score
            - mvp_feasibility_reason
            type: object
        structured_output_enabled: true
        title: Score Idea
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1783939769741'
      position:
        x: 455.8641218926532
        y: 83.48700593904337
      positionAbsolute:
        x: 455.8641218926532
        y: 83.48700593904337
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 3d4798ef-9251-4375-986d-95b52f7860db
            value: SKIP
            varType: string
            variable_selector:
            - '1784000878698'
            - verdict
          id: 'true'
          logical_operator: and
        - case_id: bc6a75c7-d243-409d-895d-5b104b6c4f45
          conditions:
          - comparison_operator: is
            id: 82e70769-9d35-4cd9-8c72-85fbd3a41d24
            value: BUILD
            varType: string
            variable_selector:
            - '1784000878698'
            - verdict
          id: bc6a75c7-d243-409d-895d-5b104b6c4f45
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 172
      id: '1784000837447'
      position:
        x: 746.686988377698
        y: 337.99682179604457
      positionAbsolute:
        x: 746.686988377698
        y: 337.99682179604457
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(user_clarity_score, problem_strength_score, mvp_feasibility_score)\
          \ -> dict:\n    user_score = int(user_clarity_score)\n    problem_score\
          \ = int(problem_strength_score)\n    feasibility_score = int(mvp_feasibility_score)\n\
          \n    if problem_score <= 2:\n        verdict = \"SKIP\"\n    elif user_score\
          \ >= 4 and problem_score >= 4 and feasibility_score >= 4:\n        verdict\
          \ = \"BUILD\"\n    else:\n        verdict = \"IMPROVE\"\n\n    return {\"\
          verdict\": verdict}"
        code_language: python3
        outputs:
          verdict:
            children: null
            type: string
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1783939769741'
          - structured_output
          - user_clarity_score
          value_type: object
          variable: user_clarity_score
        - value_selector:
          - '1783939769741'
          - structured_output
          - problem_strength_score
          value_type: object
          variable: problem_strength_score
        - value_selector:
          - '1783939769741'
          - structured_output
          - mvp_feasibility_score
          value_type: object
          variable: mvp_feasibility_score
      height: 52
      id: '1784000878698'
      position:
        x: 736.9624212416346
        y: 178.82497013270017
      positionAbsolute:
        x: 736.9624212416346
        y: 178.82497013270017
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        selected: false
        template: Explain why the original idea should be skipped. Suggest a simpler
          and more useful alternative only when appropriate. Do not force the idea
          into a buildable project.
        title: SKIP Instruction
        type: template-transform
        variables: []
      height: 52
      id: '1784005653314'
      position:
        x: 1077.002246051031
        y: 347.96249456970594
      positionAbsolute:
        x: 1077.002246051031
        y: 347.96249456970594
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: Keep the strongest focused version of the original idea and generate
          a realistic 7-day MVP plan. Limit the MVP to no more than three core features.
        title: BUILD Instruction
        type: template-transform
        variables: []
      height: 52
      id: '1784006030882'
      position:
        x: 1103.8272294958301
        y: 431.4349927723497
      positionAbsolute:
        x: 1103.8272294958301
        y: 431.4349927723497
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: Narrow the idea to one target user, one primary problem, and no
          more than three MVP features. Move maps, payments, real-time databases,
          account systems, and medical or legal capabilities to Future Version.
        title: IMPROVE Instruction
        type: template-transform
        variables: []
      height: 52
      id: '1784006136851'
      position:
        x: 1111.0906012998594
        y: 531.5142075273861
      positionAbsolute:
        x: 1111.0906012998594
        y: 531.5142075273861
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        output_type: string
        selected: false
        title: Variable Aggregator
        type: variable-aggregator
        variables:
        - - '1784005653314'
          - output
        - - '1784006030882'
          - output
        - - '1784006136851'
          - output
      height: 161
      id: '1784006426939'
      position:
        x: 1462.981630012234
        y: 347.96249456970594
      positionAbsolute:
        x: 1462.981630012234
        y: 347.96249456970594
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 42e2a809-16cd-4c87-be75-73515c378964
          role: system
          text: 'You are a product strategist writing an evaluation report for a solo
            builder.


            You will receive:

            - The original idea

            - A structured extraction of that idea

            - Three scores with reasons

            - A final verdict (BUILD / IMPROVE / SKIP)

            - A branch instruction telling you how to handle this specific verdict


            The verdict is already decided. Do not re-evaluate it, argue with it,
            or soften it.

            Follow the branch instruction exactly.


            Hard constraints:

            - MVP must have at most 3 features.

            - MVP must be buildable by one beginner in 7 days.

            - Do not invent market data, user demand, competitors, APIs, or technical
            availability.

            - Push real-time data, maps, payments, accounts, and databases into Future
            Version.

            - For medical, legal, or financial topics, state limits clearly and never
            give professional conclusions.

            - The X post must be under 220 characters, plain builder voice, no hype,
            no hashtags.

            - Write in the same language as the original idea.


            Output in Markdown with exactly these 11 sections:


            ## 1. Verdict

            ## 2. Target User

            ## 3. Core Problem

            ## 4. Evaluation Scores

            ## 5. Why It Might Work

            ## 6. Main Risks

            ## 7. Revised Idea

            ## 8. MVP Features

            ## 9. 7-Day Building Plan

            ## 10. Future Version

            ## 11. X/Twitter Launch Post                                    VERDICT-SPECIFIC
            STRUCTURE:

            If the verdict is SKIP:

            - Output ONLY sections 1, 2, 3, 4, 6 (rename section 6 to "Why This Is
            Not Worth Building").

            - Then add a final section: "## Alternative Direction" — but ONLY if a
            genuinely better direction exists. If not, write: "No alternative recommended.
            This problem is already solved well enough by existing free options."

            - Do NOT output sections 5, 7, 8, 9, 10, 11. Do not produce an MVP, a
            build plan, or a launch post for an idea that should be skipped.


            If the verdict is BUILD or IMPROVE:

            - Output all 11 sections.'
        - id: 01974a9f-aed8-4537-8e78-0d4bcba0b7ba
          role: user
          text: 'Original idea:

            [{{#1783924156235.idea#}}]


            Structured extraction:

            [{{#1783924493369.structured_output#}}]


            Scores:

            [{{#1783939769741.structured_output#}}]

            Verdict:

            [{{#1784000878698.verdict#}}]

            Branch instruction:

            [{{#1784006426939.output#}}]'
        selected: false
        title: Generate Final Report
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1784006814857'
      position:
        x: 1851.7608571544708
        y: 337.99682179604457
      positionAbsolute:
        x: 1851.7608571544708
        y: 337.99682179604457
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 91.11228605966792
      y: 115.22164175323064
      zoom: 0.5030948384850691
  rag_pipeline_variables: []
